:root {
  --primary-bg-color:  #121212;
  --primary-details-color: rgb(98, 223, 115);
  --primary-shadow: 	0 0 5px rgb(212, 255, 221),
                      0 0 20px rgb(98, 223, 115);
}

body {
  margin: 0;
  font-family: sans-serif, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--primary-bg-color);
}

a {
  text-decoration: none;
  outline: none;
  color: var(--primary-details-color);
}
/*************BORRRAR*********
.App {
  width: 20%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  margin: auto;
  box-shadow:
		0 0 5px rgb(250, 212, 255),
		0 0 10px rgb(235, 183, 251),
		0 0 50px rgb(253, 185, 255)
}
*/


